TG_TOKEN=
TG_GROUP_ID=
TG_WEBHOOK_PATH=
TG_ADMIN_LIST=

REDIS_HOST=
REDIS_PORT=

SERVER_IP=

PAY_YOOKASSA_ACCOUNT_ID=
PAY_YOOKASSA_SECRET_KEY=

DOWNLOAD_FILES=

SECRET_KEY=

SALES_START_DT=
STOP_SELLING_EXTENDED_COURSE_DT=
EXTENDED_COURSE_SELL_LIMIT=

TIME_ZONE=

INTRO_VIDEO_PATH=
